[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=joy_Switch_alg
Comment=
Exec=/home/hightorque/sim2real_master/sim2real_pi.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

