[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=robot_wego
Comment=Check Wifi and Start Robot
Exec=gnome-terminal --window --title="Robot Startup Log" -- bash -c "/home/hightorque/startup/default/total_startup.sh; echo 'Press Enter to close...'; read"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
